[Desktop Entry]
Name=baidunetdisk
Name[zh_CN]=百度网盘
Name[zh_TW]=百度網盤
Exec=sh /opt/baidunetdisk/baidunetdisk.sh
Terminal=false
Type=Application
Icon=baidunetdisk
StartupWMClass=baidunetdisk
Comment=百度网盘
Comment[zh_CN]=百度网盘
Comment[zh_TW]=百度網盤
MimeType=x-scheme-handler/baiduyunguanjia;
Categories=Network;